body {
    width: 100%;
}

.columns {
    padding-left: 15px;
    padding-right: 15px;
}

.hero-large,
.section-hero-large {
    position: absolute;
    z-index: -5;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    object-fit: cover; 
}

.section-hero-large {
    @media screen and (max-width: 39.9375em) {
        width: 100%;
        height: auto;
        position: relative;
    }
}

.section-hero-headline {
    @media screen and (max-width: 39.9375em) {
        height: auto !important;
        div {
            padding: 0;
            padding: 2rem 15px 2rem 15px;

            background: rgba(255,102,31,1);
            background: -moz-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(208,31,0,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,102,31,1)), color-stop(100%, rgba(208,31,0,1)));
            background: -webkit-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(208,31,0,1) 100%);
            background: -o-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(208,31,0,1) 100%);
            background: -ms-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(208,31,0,1) 100%);
            background: linear-gradient(to right, rgba(255,102,31,1) 0%, rgba(208,31,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff661f', endColorstr='#d01f00', GradientType=1 );
        }
        h1 {
            font-size: 35px;
            color: white;
            font-weight: 700;
        }
        p {
            color: white;
            margin-bottom: 10px;
        }
    }
}

.reset-row {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 100vh;
    .columns {
        align-self: center;
    }
}

.hero-container-inside {
    height: 100vh;
    .button {
        margin-bottom: 5rem;
    }
    .columns {
        align-self: center;
    }
    h1 {
        padding-top: 30vh;
    }
    @media screen and (max-width: 39.9375em) {
        p {
            margin-bottom: 0;
        }
        h1 {
            font-size: 11vw;
            padding-top: 0;
        }
        img {
            padding-top: 2em;
            width: 90%;
        }
    }

}


.section2,
.section3,
.section4,
.section5 {
    padding-top: 30px;
    padding-bottom: 50px;
    @media screen and (max-width: 39.9375em) {
        padding-top: 0px;
        padding-bottom: 0px;
    }

}

.section2-screen {
    height: 80vh;
    object-fit: contain;
}

.section2-content {
    padding-top: 50px;
    p {
        padding-top: 30px;
    }
    @media screen and (max-width: 39.9375em) {
        padding-bottom: 60px;
    }

}

.section5 {
    @media screen and (max-width: 39.9375em) {
        padding-bottom: 60px;
    }
}

.section5-hero {
    @media screen and (max-width: 39.9375em) {
        padding-top: 0px !important;
    }
}

.section-list-icon {
    width: 120px;
    padding-bottom: 20px;
}


.section-subheading {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #555;
    font-weight: 400;
    @media screen and (max-width: 39.9375em) {
        font-size: 1.6rem;
        line-height: 1.3;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-weight: 700;
    }

}


.section3 {
    .section3-2nd-col {
        p > span {
                font-size: 1.4rem;
                font-weight: 900;
        }
    }
}

.section3-how-it-works {
        padding-top: 4rem;
        padding-bottom: 2rem;
        @media screen and (max-width: 39.9375em) {
            padding-top: 2rem;
            padding-bottom: 1rem;
        }
        h2 {
            position: relative;
            text-transform: uppercase;
            &:after {
                content: "";
                height: 5px;
                background: #fff;
                width: 96%;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0.2;
            }
        }
        @media screen and (max-width: 39.9375em) {
            h2 {
                line-height: 0.9;
                &:after {
                    bottom: -10px;
                    width: 100%;
                }
            }
        }
    }

.section-hero {
    padding-top: 2em;
    @media screen and (max-width: 39.9375em) {
        padding-top: 2.5em;
    }
}


.side-quote-container {
    @media screen and (max-width: 39.9375em) {
        background: #eee;
        padding: 4rem 2rem;
        margin-top: 2em;
        .side-quote {
            margin: 0;
            font-size: 0.9em;
        }
    }
    
}

.learn-more {
    display: none;
    padding-top: 0px;
    p {
        opacity: 0.7;
    }
    @media screen and (max-width: 39.9375em) {
        padding-bottom: 50px;
    }
}

.learn-more-unhide {
    display: flex !important;
    @media screen and (max-width: 39.9375em) {
        padding-top: 1em;
        width: 1000px;
    }
}


.wrapper {
    @media screen and (max-width: 39.9375em) {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    width: 100%;
    background: #2098f5;
}


.learn-more,
.section3-how-it-works {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
}

#how-it-works {
    background: #2098f5;
}

.section3-how-it-works-list {
    padding-top: 0px;
    padding-bottom: 15px;
    @media screen and (max-width: 39.9375em) {
        width: 800px;
    }

    .section-list-icon {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        padding-top: 30px;
    }

    p {
        text-align: center;
    }
}

a:active,
a:focus,
div:focus,
div:active,
button {
  outline:0 !important;
  border:none;
  -moz-outline-style: none;
}

// .row > .columns,
// .row > .column,
// .row > .row {
//     max-width: 1000px !important;
// }