body {
    width: 100%;
}

.hero-large {
    position: absolute;
    z-index: -5;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    object-fit: cover;
}

.hero-container-inside {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 100vh;

    .columns {
        align-self: center;
    }
}


.section2 {
    padding-top: 30px;
}

.section2-screen {
    height: 80vh;
    object-fit: contain;
}

.section2-content {
    padding-top: 50px;
    p {
        padding-top: 30px;
    }
}

.section2-list-icon {
    width: 50%;
    padding-bottom: 20px;
}